name: Build B

on:
  workflow_call:
    inputs:
      buildError:
        required: true
        type: string
    secrets:
      personal_access_token:
        required: false

jobs:
  process-error:
    runs-on: ubuntu-latest

    steps:
      - name: Print received error
        run: |
          echo "===== RECEIVED BUILD ERROR ====="
          echo "${{ inputs.buildError }}"
