name: Build B
on:
  workflow_call:
    inputs:
      buildError:
        required: true
        type: string
    secrets:
      personal_access_token:
        required: false
jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v6
        with:
          repo-token: '${{ secrets.personal_access_token }}'
          run: echo "${{ inputs.buildError }}"
